name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O $HOME/miniconda.sh
        bash $HOME/miniconda.sh -b -u -p $HOME/miniconda
        export PATH="$HOME/miniconda/bin:$PATH"
        hash -r
        pip install nose coverage coveralls flake8 scikit-image
        pip install -e .

    - name: Lint with flake8
      run: flake8

    - name: Test with nosetests
      run: nosetests -sv --with-doctest --no-byte-compile --with-coverage --cover-package=tftb

    - name: Coveralls
      run: coveralls
